{% if 'now'|date('U') <= tournament.datetime|date('U') %}
    {% if app.user in tournament.users %}
        <form method="post" action="{{ path("tournamentUnscription", {"id":tournament.id}) }}">
            <button type="submit" class="btn btn-danger">Se désinscrire</button>
        </form>
    {% else %}
        {% if tournament.maxPlayers > tournament.users|length %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <form method="post" action="{{ path("tournamentInscription", {"id":tournament.id}) }}">
                    {% if tournament.maxPlayers > tournament.users|length %}
                        <button type="submit" class="btn btn-success">S'inscrire</button>
                    {% else %}
                        <button type="submit" class="btn btn-success disabled">S'inscrire</button>
                        <br>Nombre maximum de participants atteint !
                    {% endif %}
                </form>
            {% else %}
                <button type="button" class="btn btn-primary btn-xs login">Connectez-vous pour vous inscrire à ce
                    tournoi
                </button>
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
    {% if app.user in tournament.users %}
        Vous avez participé à ce tournoi
    {% endif %}
{% endif %}

