<div class="list-group">
    <h3>Les tournois auxquels vous êtes inscrit</h3>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% for inscription in app.user.inscriptions %}
            {% if 'now'|date('U') <= inscription.tournament.datetime|date('U') %}
                <a href="{{ path("tournament", {"id":inscription.tournament.id}) }}" class="list-group-item active">
                    {{ inscription.tournament.name }}
                    <span class="badge">{{ inscription.tournament.numberOfValideUsers }} participants</span>
                </a><br>
            {% endif %}
        {% endfor %}
    {% else %}
        <button type="button" class="btn btn-primary btn-xs login">Connectez-vous pour voir vos tournois</button>
    {% endif %}
</div>
