<div class="list-group">
    <h3>Vos tournois à venir</h3>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% for tournament in app.user.tournaments %}
            {% if 'now'|date('U') <= tournament.datetime|date('U') %}
                <a href="{{ path("tournament", {"id":tournament.id}) }}" class="list-group-item active">
                    {{ tournament.name }}
                    <span class="badge">{{ tournament.users|length }} participants</span>
                </a><br>
            {% endif %}
        {% endfor %}
    {% else %}
        <button type="button" class="btn btn-primary btn-xs login">Connectez-vous pour voir vos tournois</button>
    {% endif %}
</div>
