{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul><li>logged</li></ul>
{% else %}
    <button type="button" class="btn btn-primary btn-xs login">
        Connectez-vous pour voir les informations de cette personne
    </button>
    <br>
{% endif %}