body {
    /*background-image: url("../img/golf.jpg");*/
    background-size: cover;
    /*color: white!important;*/
}

.panel {
    color: #333!important;
}

#login-dp {
    padding: 20px;
}

.error {
    font-weight: bold;
    color: darkred;
}

.navbar-collapse {
    text-align: center;
}

.inline {
    display: inline;
}